version: '3'

services:
  backend:
    image: dmitrydorofeev/tech-backend
    ports:
      - 3000:3000
    links:
      - mongo:mongo

  mongo:
    image: mongo
    # volumes:
      # - /data/db:/data/db
